.VendingMachine {
  background: url("img/stephan-valentin-r74II0tE7tc-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00030a;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* mobile */
@media only screen and (max-width: 768px) {
  .VendingMachine {
    flex-direction: column;
  }
  .VendingMachine-info {
    margin-top: 8rem;
  }
  .VendingMachine-options {
    margin-bottom: 5rem;
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
  .VendingMachine {
    flex-direction: row;
  }
  .VendingMachine-info {
    width: 20%;
    margin-left: 3rem;
  }
  .VendingMachine-options {
    margin-right: 5rem;
  }
}

/* desktop */
@media only screen and (min-width: 1400px) {
  .VendingMachine-info {
    width: 25%;
    margin-left: 7rem;
  }
  .VendingMachine-options {
    margin-right: 20rem;
  }
}

.VendingMachine-info {
  color: white;
  word-wrap: break-word;
}

.VendingMachine-options .linkwrapper {
  margin-top: 7px;
  margin-bottom: 7px;
}

.VendingMachine-info,
.VendingMachine-options {
  padding: 1rem;
  border-radius: 7px;
  text-align: center;
}

.linkwrapper a {
  color: white;
  text-decoration: none;
}

.linkwrapper a:first-child:hover {
  text-shadow: 2px 2px orchid;
}

#tooltip {
  text-shadow: none;
}
