.VendingMachine {
  background: url("img/vending-machine.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00030a;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* mobile */
@media only screen and (max-width: 768px) {
  .VendingMachine {
    flex-direction: column;
  }
  .VendingMachine-info {
    margin-top: 4rem;
  }
  .VendingMachine-options {
    margin-bottom: 4rem;
  }
}

/* desktop */
@media only screen and (min-width: 768px) {
  .VendingMachine {
    flex-direction: row;
  }
  .VendingMachine-info {
    width: 20%;
    margin-left: 4rem;
  }
  .VendingMachine-options {
    margin-right: 7rem;
  }
}

.VendingMachine-info {
  color: white;
  word-wrap: break-word;
}

.VendingMachine-options .linkwrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.VendingMachine-info,
.VendingMachine-options {
  padding: 1rem;
  border-radius: 7px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: large;
}

a {
  color: white;
  text-decoration: none;
}
